<h1>Show Store Details</h1>
<%# @store = Store.where(user_id: params[:user_id]) %>
<ul>
<li><%= @store.name %></li> <%= link_to("Edit", edit_store_path(current_user, @store), :class => 'action edit') %>
</ul>


  <%#= link_to("Delete", store_path(store), :class => 'action delete') %>
