<h2>Items Index</h2>

<ul>
  <% @items.each do |item| %>
  <li><%= item.name %></li>
  <%#= link_to("Show", store_path(store)) %>
  <%#= link_to("Edit", '#', :class => 'action edit') %>
  <%#= link_to("Delete", store_path(store), :class => 'action delete') %>
  <% end %>
</ul>
